@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";


@theme {

  /*  colors  */
  --color-body: #F3F3F3;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-accent: #C2D3B2;
  --color-accent-light: #D8EAC8;
  --color-accent-dark: #6D7B5F;


  /*  fonts  */
  --font-imperial-script: var(--font-imperial-script);
  --font-noto: var(--font-noto);


  /*  font sizes  */
  --text-2-lg: 2rem;
  --text-2-xl: 2.5rem;

  --leading-loose: 1.75rem;
  --shadow-lg: 6px 5px 20px rgba(0,0,0,0.25);


  --default-transition-duration: 0.15s;
}



/*  prevent scroll when mobile navbar is open  */
body.scroll-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}



/*  slow down tracking transitions  */
.transition-tracking { --default-transition-duration: 0.5s; }


/*  slow down transitions on cookies modal  */
.cookies-modal { --default-transition-duration: 0.75s; }
.cookies-modal .modal-buttons { --default-transition-duration: 0.15s; }



/*  opacity mask for rounded testimonial image on home page  */
.home-testimonial-image-masked {
  --mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 70%);
  
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
}